<div th:replace="partial/header"></div>
<section class="p-5 is-flex is-justify-content-center">
    <section class="hero is-info is-half p-6">
        <div class="hero-head">
            <div class="">
                <p class="title">
                    Account Registration Form
                </p>
                <p class="subtitle">
                    Maharishi International University
                </p>
            </div>
        </div>
        <div class="hero-body">
            <form class="box" th:action="@{/account}" th:object="${account}" method="post">
                <div class="field">
                    <label class="label">Select Role</label>
                    <div class="control has-icons-left has-icons-right">
                        <div class="select">
                            <select th:field="*{roles}" th:errorclass="'is-danger'">
                                <option value="Admin">Admin</option>
                                <option value="Faculty">Faculty</option>
                                <option value="Student">Student</option>
                            </select>
                        </div>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" th:errorclass="'help is-danger'">Error</p>
                </div>
                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter First Name" th:field="*{firstName}"
                               th:errorclass="'is-danger'">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="'help is-danger'">Error</p>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter Last Name" th:field="*{lastName}"
                               th:errorclass="'is-danger'">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="'help is-danger'">Error</p>
                </div>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter Username" th:field="*{username}"
                               th:errorclass="'is-danger'">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="'help is-danger'">Error</p>
                </div>

                <div class="field">
                    <label class="label">Entry Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter Password" th:field="*{password}"
                               th:errorclass="'is-danger'">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="'help is-danger'">Error</p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-info">Submit</button>
                    </div>
                    <div class="control">
                        <a class="button is-info is-light" th:href="@{/account}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
<div th:replace="partial/footer"></div>

