<div th:replace="partial/header"></div>
<div class="notification is-info mt-5" th:if="${message != null}">
	<p th:text="${message}"></p>
</div>
<section class="section" th:if="${currentUser != null}">
	<h1 class="title">Entry Detail</h1>
	<h2 class="subtitle" th:text="${'#' + currentUser.id} ?: ''"></h2>
	<h2 class="subtitle" th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></h2>
	<h2 class="subtitle" th:text="${currentUser.roles}"></h2>
</section>
<div th:replace="partial/footer"></div>

