<div th:replace="partial/header"></div>
<section class="p-5 is-flex is-justify-content-center">
    <section class="hero is-info is-half p-6">
        <div class="hero-head">
            <div class="">
                <p class="title">
                    Student Registration Form
                </p>
                <p class="subtitle">
                    Maharishi International University
                </p>
            </div>
        </div>
        <div class="hero-body">
            <form class="box" th:action="@{/student/add}" th:object="${student}" method="post">
                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter first name" th:field="*{firstName}"
                               th:errorclass="'is-danger'">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="'help is-danger'">Error</p>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter Last Name" th:field="*{lastName}" th:errorclass="'is-danger'">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                       th:errorclass="'help is-danger'">Error</p>
                </div>

                <div class="field">
                    <label class="label">Email: </label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter Email" th:field="*{email}"
                               th:errorclass="'is-danger'">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       th:errorclass="'help is-danger'">Error</p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-info">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-info is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
<div th:replace="partial/footer"></div>

