<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>MIU Student</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" type="text/css" media="all"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}"/>

    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-background-black" href="/">
            <img src="../../img/favicon.png" th:src="@{/img/favicon.png}" class="max-w-3 w-3 max-h-3"
                 alt="MIU Registration">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start mx-5 px-5">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" th:href="@{/course}">
                Courses
            </a>
            <a class="navbar-item" th:href="@{/course/add}">
                Add Course
            </a>
            <a class="navbar-item" th:href="@{/account}">
                Accounts
            </a>
            <a class="navbar-item" th:href="@{/account/add}">
                Add Account
            </a>
            <a class="navbar-item" href="/student">
                Student
            </a>
            <a class="navbar-item" href="/student/add">
                Add Student
            </a>
            <a class="navbar-item" href="/course">
                Entry
            </a>
            <a class="navbar-item" href="/course/add">
                Add Entry
            </a>
            <a class="navbar-item" href="/block">
                Block
            </a>
            <a class="navbar-item" href="/block/add">
                Add Block
            </a>
        </div>
    </div>
    <div class="navbar-end" th:if="${user}">
        <div class="navbar-item">
            <div class="buttons">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span th:text="${#strings.capitalize(user.principal.username)}"></span>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" th:href="@{/profile}">
                            Profile
                        </a>
                        <a class="navbar-item" th:href="@{/account/edit}">
                            Change Password
                        </a>
                        <a class="navbar-item" th:href="@{/logout}">
                            Log out
                        </a>
                    </div>
                </div>
        </div>
    </div>
</nav>

<div class="container">
