<div th:replace="partial/header"></div>
<section class="p-5 is-flex is-justify-content-center">
    <section class="hero is-info is-half p-6">
        <div class="hero-head">
            <div class="">
                <p class="title">
                    Course Form
                </p>
                <p class="subtitle">
                    Maharishi International University
                </p>
            </div>
        </div>
        <div class="hero-body">
            <form class="box" th:action="@{/course}" th:object="${course}" method="post">
                <div class="field">
                    <label class="label">Course Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter Course Name" th:field="*{name}"
                               th:errorclass="'is-danger'">

                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="'help is-danger'">
                        Error</p>
                </div>

                <div class="field">
                    <label class="label">Maximum Seat</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" placeholder="Enter Maximum Seat" th:field="*{maximumSeat}"
                               th:errorclass="'is-danger'">
                    </div>
                    <p th:if="${#fields.hasErrors('maximumSeat')}" th:errors="*{maximumSeat}"
                       th:errorclass="'help is-danger'">Error</p>
                </div>

                <div class="field">
                    <label class="label">Select Course</label>
                    <div class="control has-icons-left has-icons-right">
                        <div class="select is-multiple">
                            <select multiple th:field="*{prerequisite}" th:errorclass="'is-danger'">
                                <option th:each="e : ${courses}" th:value="${e.id}" th:text="${e.name}"></option>
                            </select>
                        </div>

                    </div>
                    <p th:if="${#fields.hasErrors('prerequisite')}" th:errors="*{prerequisite}"
                       th:errorclass="'help is-danger'">Error</p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-info">Submit</button>
                    </div>
                    <div class="control">
                        <a class="button is-info is-light" th:href="@{/block}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
<div th:replace="partial/footer"></div>

