<div th:replace="partial/header"></div>
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            Reziz
        </p>
        <p class="subtitle">
            Made with 💜
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">
            Maharishi International University
        </h1>
        <p class="subtitle">
            <strong>Course</strong> registration system.
        </p>
    </div>
    <div class="container mt-3">
        <div class="columns is-desktop is-full">
            <div class="table-container column is-full">
                <table class="table is-fullwidth  is-striped is-hoverable">
            <tr>
                <th title="#">#</th>
                <th>Course Name</th>
                <th>Maximum Seat</th>
                <th>Pre requisites</th>
            </tr>
            <tr th:each="course : ${courses}">
                <td>
                    <a th:href="@{'/course/' + ${course.id}}" th:text="${course.id}">1</a>
                </td>
                <td><a th:href="@{'/course/' + ${course.id}}" th:text="${course.name}">Course Name ...</a></td>
                <td><a th:text="${course.maximumSeat}">Maximum Seat ...</a></td>
                <td>
                    <span th:if="${course.prerequisite}" th:each="c : ${course.prerequisite}" th:value="${c.id}" th:text="${c.name + ' '}"></span>
                    <span th:if="${#arrays.isEmpty(course.prerequisite)}">No Prerequisite</span>
                </td>
            </tr>
        </table>
    </div>
    </div>
    </div>
</section>

<div th:replace="partial/footer"></div>
