<div th:replace="partial/header"></div>
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">

        </p>
        <p class="subtitle">
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 style="color:green" class="title" th:text=" ${message}">
        </h3></br>
        <p class="subtitle">
        </p>
    </div>
    <div class="container mt-3">
        <div class="columns is-desktop is-full">
            <div class="table-container column is-full">
                <h1>My Sections already registered</h1><br>
                <table class="table is-fullwidth  is-striped is-hoverable">
                    <tr>
                        <th>Block</th>
                        <th>Code</th>
                        <th>Course Name</th>
                        <th>Capacity</th>
                        <th>Faculty</th>
                        <th>Seats</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="sect : ${sectionRec}">
                        <td th:text="${sect.block.blockName}"></td>
                        <td th:text="${sect.course.courseCode}"></td>
                        <td th:text="${sect.course.name}"> </td>
                        <td th:text="${sect.section.capacity}"></td>
                        <td th:text="${sect.faculty.facultyName}"></td>
                        <td th:text="${sect.section.capacity - sect.students.size()}"></td>
                        <td><a th:href="@{'/section/registertosection/' + ${sect.section.id}}" th:text="${'Register'}"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<div th:replace="partial/footer"></div>
