<div th:replace="partial/header"></div>
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">

        </p>
        <p class="subtitle">
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h5 style="color:green" class="title" th:utext=" ${message}">
        </h5></br>
        <p class="subtitle">
        </p>
    </div>
    <div class="container mt-3">
        <div class="columns is-desktop is-full">
            <div class="table-container column is-full">
            </div>
        </div>
    </div>
</section>

<div th:replace="partial/footer"></div>
