<div th:replace="partial/header"></div>
<div class="notification is-info mt-5" th:if="${message != null}">
    <p th:text="${message}"></p>
</div>
<section class="section" th:if="${course != null}">
        <h1 class="title">Entry Detail</h1>
        <h2 class="subtitle" th:text="${'#' + course.id} ?: ''"></h2>
        <h2 class="subtitle" th:text="${course.entryName}"></h2>
        <h2 class="subtitle" th:text="${course.getFPPNum()}"></h2>
        <h2 class="subtitle" th:text="${course.mPPNum}"></h2>
        <h2 class="subtitle" th:text="${course.startDate}"></h2>
        <h2 class="subtitle" th:text="${course.endDate}"></h2>
</section>
<div th:replace="partial/footer"></div>
