<div th:replace="partial/header"></div>
<div class="notification is-primary mt-5" th:if="${message != null}">
    <p th:text="${message}"></p>
</div>
<section class="section" th:if="${entry != null}">
        <h1 class="title">Entry Detail</h1>
        <h2 class="subtitle" th:text="${'#' + entry.id} ?: ''"></h2>
        <h2 class="subtitle" th:text="${entry.entryName}"></h2>
        <h2 class="subtitle" th:text="${entry.getFPPNum()}"></h2>
        <h2 class="subtitle" th:text="${entry.mPPNum}"></h2>
        <h2 class="subtitle" th:text="${entry.startDate}"></h2>
        <h2 class="subtitle" th:text="${entry.endDate}"></h2>
</section>
<div th:replace="partial/footer"></div>