<div th:replace="partial/header"></div>
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            Reziz
        </p>
        <p class="subtitle">
            Made with 💜
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">
            Maharishi International University
        </h1>
        <p class="subtitle">
            <strong>Entry</strong> registration system.
        </p>
    </div>
    <div class="container mt-3">
        <div class="columns is-desktop is-full">
            <div class="table-container column is-full">
                <table class="table is-fullwidth  is-striped is-hoverable">
                    <tr>
                        <th title="#">#</th>
                        <th>Block Name</th>
                        <th>FPP</th>
                        <th>MPP</th>
                        <th>Start Date</th>
                        <th>Start Date</th>
                    </tr>
                    <tr th:each="block : ${blockList}">
                        <td><a th:href="@{'/block/' + ${block.id}}" th:text="${block.id}">Block Id ...</a></td>
                        <td><a href="#" th:text="${block.blockName}">Block Name ...</a></td>
                        <td th:text="${block.fPPNum}">FPP Num ...</td>
                        <td th:text="${block.mPPNum}">MPP Num ...</td>
                        <td th:text="${block.startDate}">Start Date ...</td>
                        <td th:text="${block.endDate}">End Date ...</td>
                        <td><a th:href="@{'/block/section/' + ${block.id}}" th:text="${'View Section'}">Block Id ...</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<div th:replace="partial/footer"></div>
